
body{
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
    height: 100vh;
}

aside {
    width: 20%;
background-color: #F1F2F6;
box-shadow:10px 10px 10px #000;

}

.main {
    width: 80%;
background: #EBECF0;
}